body{
    font-size: 16px;
    background-color: #e6d7bd;
    width: 1200px;
}
header{
    width: 700px;
    display: flex;
    height: 69px;
    text-align: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px; 
}
    nav ul li {
        display: inline-block;
        line-height: 69px;
        text-decoration: underline;
        text-align: right;
    }       
        nav ul li a {
            display: inline-block;
            padding: 0 10px;
            color: seashell;
        }
            nav ul li a:hover {
            display: inline-block;
            color: orange;
         }
        